<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Testplan</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li v-for="link in links" class="nav-item" v-bind:class="{'active' : $route.path == link.path}">
          <router-link v-bind:to="link.path" class='nav-link'>{{link.name}}</router-link>
        </li>
    </ul>
  </div>
</nav>